/* Reset default styles */
* {
  padding: 0;
  margin: 0;
}

/* Body styling */
body {
  font-family: Roboto, sans-serif;
}

/* Header and Footer styling */
header,
footer {
  width: 100%;
  background-color: black;
  font-family: Agdasima, sans-serif;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navigation Menu */
.nav-menu {
  list-style-type: none;
  display: flex;
  font-size: 22px;
  color: white;
}

.nav-menu li {
  padding-right: 20px;
  position: relative;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.2s;
}

.nav-menu a:hover {
  background-color: rgb(64, 59, 59);
  border-radius: 10px;
}

/* Dropdown Menu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  list-style-type: none;
  padding: 5px;
  margin: 0;
  font-size: 22px;
  width: 180px;
  border-radius: 5px;
}

.dropdown-menu li {
  border-bottom: 1px solid #555;
}

.dropdown-menu a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
}

.nav-menu li:hover .dropdown-menu {
  display: block;
}

/* Connect Button Menu */
.connect-menu {
  position: relative;
  display: inline-block;
}

.connect-button {
  background-color: transparent;
  color: white;
  font-size: 22px;
  font-family: Agdasima;
  padding: 15px;
  border: none;
  cursor: pointer;
  width: 200px;
}

.dropdown-connect-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 20%;
  font-size: 18px;
  background-color: #333;
  list-style-type: none;
  border-radius: 5px;
}

.dropdown-connect-menu li {
  padding: 10px;
  display: inline-block;
}

.dropdown-connect-menu li:not(:last-child) {
  border-right: 1px solid #555;
  margin-right: 10px;
}

.dropdown-connect-menu a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.connect-menu:hover .dropdown-connect-menu {
  display: flex;
}

/* Main Section */
.main-section {
  width: 100%;
  height: auto;
  /* Adjust height if necessary */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px 10px 40px;
  flex: 1;
  padding-bottom: 30px;
}

/* Footer styling */
footer {
  position: relative;
  /* Change to fixed.relative for sticky footer */
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/* Social Networks */
.social-networks {
  color: white;
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}

.social-networks-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-network-button {
  background-color: transparent;
  border: none;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
}

.social-network-button img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.rights-reserved {
  color: white;
  text-align: center;
}

/* About Section */
.about-content {
  background: rgba(49, 175, 238, 0.8);
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 1200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Section Titles */
.h2 {
  color: #000000;
  text-align: center;
  font-size: 2em;
}

/* Mosaic Section */
.mosaic {
  padding: 20px;
  text-align: center;
}

.mosaic h2 {
  margin-bottom: 20px;
}

.mosaic-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  /* Distance between photos */
  margin-right: 3px;
}

.mosaic-item {
  margin: 10px;
  overflow: hidden;
  width: 110%;
  /* Increases container width */
}

.mosaic-item img {
  width: 100%;
  /* Ensures the image fills the container */
  height: 100%;
  /* Adjusts height to fill the container */
  object-fit: cover;
  /* Maintains aspect ratio */
  border-radius: 8px;
  /* Rounds image corners */
  transition: transform 0.3s;
  /* Smooth animation */
}

.mosaic-item:hover img {
  transform: scale(1.10);
  /* Enlarge image on hover */
}

/* Welcome Section */
.bienvenue {
  display: flex;
}

.text-container {
  max-width: 600px;
  /* Limit width for text */
  margin-right: 20px;
  /* Space between text and image */
  align-items: left;
  width: 60%;
}

.h1 {
  color: rgba(49, 175, 238, 0.8);
  text-align: left;
  font-size: 3em;
  margin: 30px 10px 30px 5px;
  /* Margins */
}

.description {
  font-size: 1.2em;
  color: #333;
  /* Description text color */
  display: flex;
  flex-wrap: wrap;
}

/* Logo Section */
.logo {
  display: flex;
  /* Flexbox for image */
  width: 40%;
}

img {
  max-width: 100%;
  /* Image adapts to width */
  height: auto;
  /* Maintains proportions */
}

/* photo-gallery */
.photo-item {
  position: relative;
  text-align: center;
  margin: 10px;
  /* Space between photos */
}

.photo-gallery {
  display: flex;
  /* Use flexbox for layout */
  flex-wrap: wrap;
  /* Allow items to wrap to the next line if necessary */
  justify-content: center;
  /* Center items horizontally */
}

.photo-item {
  margin: 10px;
  /* Space between photo items */
  text-align: center;
  /* Center text below images */
}

.photo-item img {
  width: 200px;
  height: 220px;
  border-radius: 50%;
  /* Make photos circular */
  object-fit: cover;
  /* Crops image while maintaining aspect ratio */
  transition: transform 0.3s ease;
  /* Smooth transition for transformation */
}

.photo-item:hover img {
  transform: translateY(-5px);
  /* Move image up on hover */
}

.photo-description {
  margin-top: 10px;
  /* Space above text */
  font-size: 16px;
  /* Text size */
  color: #333;
  /* Text color */
}

/* Font Styles */
.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

/* Arrow Navigation */
.produits-gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Distributes arrows to the edges */
  padding: 10px;
  /* Padding around gallery */
}

.arrow {
  font-size: 24px;
  /* Arrow size */
  cursor: pointer;
  /* Pointer cursor */
  padding: 10px;
  /* Padding */
  user-select: none;
  /* Prevent text selection */
}

/* Mosaic Grid Transformations */
.mosaic-grid {
  display: flex;
  overflow: hidden;
  /* Hides elements that overflow */
  transition: transform 0.3s ease;
  /* Smooth transition */
  position: relative;
  /* For using transform */
}

/* Radio Button Hiding */
input[type="radio"] {
  display: none;
  /* Hide radio buttons */
}

/* Show selected mosaic item */
#item1:checked~.mosaic-grid .mosaic-item[data-for="item1"],
#item2:checked~.mosaic-grid .mosaic-item[data-for="item2"],
#item3:checked~.mosaic-grid .mosaic-item[data-for="item3"],
#item4:checked~.mosaic-grid .mosaic-item[data-for="item4"],
#item5:checked~.mosaic-grid .mosaic-item[data-for="item5"] {
  display: block;
  /* Show only selected item */
}

/* Manage selected item offset */
.mosaic-grid {
  transform: translateX(calc(-100% * (var(--selected) - 1)));
}

/* Set variable to shift items */
#item1:checked~.mosaic-grid {
  --selected: 1;
}

#item2:checked~.mosaic-grid {
  --selected: 2;
}

#item3:checked~.mosaic-grid {
  --selected: 3;
}

#item4:checked~.mosaic-grid {
  --selected: 4;
}

#item5:checked~.mosaic-grid {
  --selected: 5;
}

.text {
  text-align: center;
  font-size: 20px;
  /* taille de text */
  margin: 10px 10px 0 10px;
}

body {
  max-width: auto;
  /* Максимальная ширина */
  margin: 0 auto;
  /* Центрирование */
  padding: 0 1px;
  /* Отступы */
}


* {
  box-sizing: border-box;
  /* Учитывать padding и border */
}