html, body {
  padding: 0;
  margin: 0;
  width: 100%;
}
body {
  height: 100%;
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}


/* Header section */
header,
footer {
  width: 100%;
  background-color: black;
  font-family: "Agdasima", sans-serif;
  padding: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  list-style-type: none;
  display: flex;
  font-size: 22px;
  color: white;
}
.nav-menu li {
  padding-right: 20px;
  position: relative;
}
.nav-menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.2s;
}
.nav-menu a:hover {
  background-color: rgb(64, 59, 59);
  border-radius: 10px;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  list-style-type: none;
  padding: 5px;
  margin: 0;
  font-size: 22px;
  width: 180px;
  border-radius: 5px;
}
.dropdown-menu li {
  border-bottom: 1px solid #555;
}
.dropdown-menu a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
}
.nav-menu li:hover .dropdown-menu {
  display: block;
}
.connect-menu {
  position: relative;
  display: inline-block;
}
.connect-button {
  background-color: transparent;
  color: white;
  font-size: 22px;
  font-family: "Agdasima";
  padding: 15px;
  border: none;
  cursor: pointer;
  width: 200px;
}
.dropdown-connect-menu {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 18px;
  background-color: #333;
  list-style-type: none;
  border-radius: 5px;
  text-align: right;
}
.dropdown-connect-menu li {
  padding: 10px;
  display: inline-block;
}
.dropdown-connect-menu li:not(:last-child) {
  border-right: 1px solid #555;
  margin-right: 10px;
}
.dropdown-connect-menu a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.connect-menu:hover .dropdown-connect-menu {
  display: flex;
}


/* Main section */

.connection-page {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f5f5f5;
}

.login-section, .register-section {
  width: 45%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

.required {
  font-size: 0.8em;
  color: #f00;
  margin-left: 5px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"] {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-field {
  display: inline-flex;
  align-items: center;
}

.password-field input[type="password"] {
  flex: 1;
}

.show-password {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 8px;
}
.eye-icon {
  font-size: 1em;
  margin-right: 5px;
  vertical-align: middle;

}

.forgot-password {
  font-size: 0.9em;
  color: #007BFF;
  margin-top: 5px;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button[type="submit"] {
  margin-top: 15px;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* Footer */
footer {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.social-networks h2 {
  color: white;
}
.social-networks {
  color: white;
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}
.social-networks-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.social-network-button {
  background-color: transparent;
  border: none;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
}
.social-network-button img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.rights-reserved {
  color: white;
  text-align: center;
}

/* Media queries pour les petits écrans (mobile: jusqu'à 768px et tablette: de 768px à 1024px) */

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    padding: 20px;
  }

  .nav-menu {
    font-size: 20px;
  }

  .dropdown-menu {
    width: 80%;
  }

  .connection-page {
    flex-direction: column;
    align-items: center;
  }

  .login-section, .register-section {
    width: 80%;
    padding: 20px;
    margin-bottom: 20px;
  }

  .connect-button {
    width: 80%;
  }

  .dropdown-connect-menu {
    font-size: 18px;
  }

  footer {
    padding: 15px;
  }

  .social-networks h2 {
    font-size: 22px;
  }

  .social-network-button img {
    width: 38px;
    height: 38px;
  }

  .rights-reserved {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 15px;
  }

  .nav-menu {
    flex-direction: column;
    font-size: 18px;
  }

  .nav-menu li {
    padding-right: 0;
    padding-bottom: 10px;
  }

  .dropdown-menu {
    width: 100%;
    position: relative;
  }

  .connection-page {
    flex-direction: column;
    align-items: center;
  }

  .login-section, .register-section {
    width: 90%;
    padding: 15px;
    margin-bottom: 20px;
  }

  .connect-button {
    width: 100%;
  }

  .dropdown-connect-menu {
    font-size: 16px;
  }

  footer {
    flex-direction: column;
    padding: 10px;
  }

  .social-networks h2 {
    font-size: 20px;
  }

  .social-networks-menu {
    flex-direction: column;
  }

  .social-network-button img {
    width: 35px;
    height: 35px;
  }

  .rights-reserved {
    font-size: 14px;
  }
}